<div class="container-fluid p-0">
  <!-- About-->
  <section class="tips-section" id="about">
    <div class="tips-content">
      <h1 class="mb-0">
        Tips
        <span class="text-primary">of the day</span>
      </h1>
      <div class="subheading mb-5">
        VirtusLab's tips for every day
      </div>
      <p class="lead mb-5">We want to share out knowledge with other IT specialists.</p>
      <div class="social-icons">
        <a class="social-icon" href="https://pl.linkedin.com/company/virtuslab"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="https://github.com/VirtusLab"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="https://twitter.com/virtuslab"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="https://www.facebook.com/virtuslab"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </section>
  <hr class="m-0" />
</div>
