.tip .date {
  flex-shrink: 0!important;
  color: #bd5d38!important
}

::ng-deep code,
::ng-deep blockquote {
  quotes: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 2px 5px;
  color: #e12761;
  font-family: 'Roboto Mono', monospace;
  font-size: 90%
}

::ng-deep .emoji {
  height: 1.4rem
}

::ng-deep blockquote {
  display: block;
  color: #6f6f6f;
  margin: 0 0 1rem 0;
}

::ng-deep blockquote p {
  margin: 0;
}
